{{!
    @template videoprogressobjective_bloom/objective

    Example context (json):
    {
        "level": "Aplicar",
        "description": "Aplicar a regra dos terços em uma fotografia."
    }
}}
<span class="badge badge-info mr-2">{{level}}</span><span>{{description}}</span>
