{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template videoprogressmaterial_pdf/view

    Example context (json):
    {
        Aqui tem que criar o context em inglês
    }
}}

<section class="videoprogress-material-view videoprogress-material-view--pdf">
    <header><h2>{{name}}</h2>{{#allowdownload}}<a class="btn btn-primary" href="{{downloadurl}}">{{#str}}
        downloaddocument, videoprogressmaterial_pdf {{/str}}</a>{{/allowdownload}}</header>
    {{#hasfile}}
        <iframe src="{{fileurl}}" title="{{name}}" loading="lazy"></iframe>{{/hasfile}}
    {{^hasfile}}
        <div class="alert alert-warning">{{#str}}
            documentunavailable, videoprogressmaterial_pdf {{/str}}</div>{{/hasfile}}
</section>
