{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template videoprogressmaterial_download/view

    Example context (json):
    {
        "name": "Arquivos complementares",
        "hasfiles": true,
        "files": [
            {
                "filename": "exercicio.xlsx",
                "filesize": "24 KB",
                "downloadurl": "/pluginfile.php/10/videoprogressmaterial_download/files/4/exercicio.xlsx"
            }
        ]
    }
}}
<section class="videoprogress-material-view videoprogress-material-view--download">
    <header class="mb-3">
        <h3>{{{name}}}</h3>
    </header>
    {{#hasfiles}}
        <div class="list-group">
            {{#files}}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   href="{{{downloadurl}}}">
                    <span>{{{filename}}}</span>
                    <span class="d-flex align-items-center gap-3">
                        <small class="text-muted">{{{filesize}}}</small>
                        <strong>{{#str}}download, videoprogressmaterial_download{{/str}}</strong>
                    </span>
                </a>
            {{/files}}
        </div>
    {{/hasfiles}}
    {{^hasfiles}}
        <div class="alert alert-info">{{#str}}nofiles, videoprogressmaterial_download{{/str}}</div>
    {{/hasfiles}}
</section>
