{{!
    @template videoprogressobjective_text/objective

    Example context (json):
    {
        "description": "Identificar os elementos principais da composição."
    }
}}
<span>{{description}}</span>
